.auth-container {
    background: linear-gradient(to right, rgb(7, 124, 160), rgb(58, 155, 168));
}

.auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.auth-form-wrapper {
    background-color: rgb(18, 54, 69);
    padding: 35px 30px;
    width: 40%;
} 

.auth-form-header-text h1 {
    text-align: center;
    color: white;
    font-size: 1.9rem;
    margin-bottom: 0;
}

.auth-form-header-text p {
    text-align: center;
    color: white;
}

.auth-form-wrapper label {
    color: white;
}

.not-member p {
    color: white;
}

.submit-btn {
    background-color: var(--link-color);
    padding-top: 6px;
    padding-bottom: 6px;
    
}

.submit-btn:hover {
    background-color: var(--link-hover-color);
    transition: all 0.3s ease;
}

.submit-btn .btn {
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem
}

.auth-form hr {
    border: 1px solid rgba(255,255,255, 0.6);
}

@media (max-width: 449.98px) { 
    .bottom-options {
        flex-direction: column;
    }

    .auth-form-wrapper {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 98%;
    }
}

@media (max-width: 991.98px) { 

    .auth-form-wrapper {
        max-width: 90%;
        margin-top: 40px;
    }
}