:root {
    --text-color: #262627;
    --heading-color: #121213;
    --link-color: rgb(187, 74, 3);
    --link-hover-color: rgb(231, 91, 4);
}
/* GENERAL STYLES */
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

::placeholder {
    font-size: .8rem;
    font-style: italic;
    color:rgba(58, 57, 57, 0.39);
}

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: inherit;
    line-height: inherit;
    background-color: #f7f8fc;
    -webkit-font-smoothing: antialiased;
    padding-top: 100px;
}

body.hidden-scrolling {
    overflow-y: hidden;
}

.wrapper {
    min-height: 100vh !important; /* force footer to bottom */
    display: flex; /* force footer to bottom */
    flex-direction: column; /* force footer to bottom */
    /*padding-top: 120px;
    padding-bottom: 30px;*/
}

:focus {
    outline: 0;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    color: var(--heading-color);
    margin-bottom: 33px;
}

h1 {
    font-size: 2.7rem;
    font-weight: 800;
    line-height: 3.8rem;
}

h2 {
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 3.2rem;
}

h3 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 3rem;
}

h4 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.8rem;
}

h5 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.7rem;
}

h6 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.6rem;
}

@media (max-width: 767.99px) {

    h1 {
        font-size: 2rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 1.9rem;
        line-height: 2.8rem;
    }

    h3 {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }

    h4 {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }

    h5 {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    h6 {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
}


p {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--text-color);
}

a {
    font-family: inherit;
    transition: all 0.2s ease-in-out 0s;
    color: var(--link-color);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
    transition: all 0.3s ease;
}

a:focus {
    outline: 0
}

ul li, ol li {
    font-size: .9rem;
    line-height: 1.8rem;
}


/* BOOTSTRAP FORM OVERRIDE */

.form-control:focus, btn:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important
}

.form-label {
    font-weight: 600;
    font-size: .9rem;
}

.form-control {
    border-radius: 0;
}


/* NAVIGATION STYLES */

.header {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    top: 0;
    padding: 5px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.05);
    z-index: 99;
}

.header-main {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.header .logo {
    padding: 0 15px;
}

.header .logo a {
    font-size: 1.875rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--link-color);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 

.header .menu > .nav-divider {
    height: 2rem;
    border-left: 0.1rem solid rgba(0,34,28,.1);
    top: .7rem;
}

.header .nav-menu {
    padding: 0 15px;
}

.header .menu > .menu-item {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.header .menu > .menu-item > a {
    display: block;
    padding: 12px 0;
    font-size: 1rem;
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease;
}

.header .menu > .menu-item > a .fa-chevron-down {
    font-size: .8rem;
    pointer-events: none;
}

.header .menu > .menu-item:hover > a .fa-chevron-down {
    transform: rotate(-90deg);
    transition: all 0.3s ease;
}

.header .menu > .menu-item:hover > a,
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover {
    color: var(--link-hover-color);
}

.header .menu > .menu-item > .sub-menu {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 200px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    border-top: 3px solid var(--link-hover-color);
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

@media(min-width: 992px) {
    .header .menu > .with-dropdown:hover > .sub-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.header .menu > .menu-item > .sub-menu > .menu-item {
    display: block;
}

.header .menu > .menu-item > .sub-menu > .menu-item > a {
    display: block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

/* HAMBURGER MENU */
.header .mobile-menu-toggle {
    height: 34px;
    width: 40px;
    margin-right: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .mobile-menu-toggle span {
    display: block;
    height: 3px;
    width: 24px;
    background-color: #000000;
    position: relative;
}

.header .mobile-menu-toggle span:before,
.header .mobile-menu-toggle span:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    box-sizing: border-box;
}

.header .mobile-menu-toggle span:before {
    top: -7px;
}

.header .mobile-menu-toggle span:after {
    top: 7px;
}

.header .close-mobile-menu {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 0 15px 15px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.header .close-mobile-menu img {
    width: 16px;
}


.header .menu-overlay {
    position: fixed;
    z-index: 999;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.header .menu-overlay.active {
    visibility: visible;
    opacity: 1;
}

/* RESPONSIVE NAVIGATION */
@media(max-width: 991px) {
    .header .nav-menu {
        position: fixed;
        right: -280px;
        visibility: hidden;
        top: 0;
        width: 280px;
        height: 100%;
        overflow-y: auto;
        background-color: #262627;
        padding: 15px 0;
        z-index: 1000;
        transition: all .5s ease;
    }

    .header .nav-menu.open {
        visibility: visible;
        right: 0px;
    }

    .header .menu > .menu-item {
        display: block;
        margin: 0;
    }

    .header .menu > .with-dropdown a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .menu > .menu-item a {
        color: #fff;
        padding: 12px 15px;
        border-bottom: 1px solid #333333;
    }

    .header .menu > .menu-item:first-child > a {
        border-top: 1px solid #333333;
    }

    .header .menu > .menu-item > .sub-menu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        background-color: transparent;
        box-shadow: none;
        transform: translateY(0px);
        padding: 0px;
        left: auto;
        top: auto;
        max-height: 0;
        overflow: hidden;
    }

    .header .menu > .menu-item > .sub-menu > .menu-item > a {
        padding: 12px 45px;
        color: white;
        border-bottom: 1px solid #333333;
    }

    .header .mobile-menu-toggle,
    .header .close-mobile-menu  {
        display: flex;
    }
}




/* FOOTER STYLES */

footer {
    margin-top: auto; /* force footer to bottom */
}

.footer {
    background-color: rgb(58, 57, 57);
    color:floralwhite;
    min-height: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.copyright {
    background-color: rgb(41, 40, 40);
    padding-top: 10px;
    padding-bottom: 10px;
}

.copyright p {
    font-size: .75rem;
    color: #cfcfcf;
    margin-bottom: 0;
}


/* COOKIE WARNING STYLES */
.gdpr-cookie-law {
    position: fixed;
    z-index: 1000000000;
    padding: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    background-color: #09a0e1;
    color: #fff;
    font-family: Arial, sans-serif;
    line-height: 1.4;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

 .gdpr-cookie-law--is-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.gdpr-cookie-law__body {
    width: 1170px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gdpr-cookie-law:not(.gdpr-cookie-law--sm):not(.gdpr-cookie-law--sm-fix) .gdpr-cookie-law__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.gdpr-cookie-law__icon-box {
    margin-right: 1em;
    width: 24px;
}

.gdpr-cookie-law__icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.gdpr-cookie-law--sm .gdpr-cookie-law__icon-box,
.gdpr-cookie-law--sm-fix .gdpr-cookie-law__icon-box {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

.gdpr-cookie-law__desc {
    text-align: left;
}

.gdpr-cookie-law--sm .gdpr-cookie-law__desc,
.gdpr-cookie-law--sm-fix .gdpr-cookie-law__desc {
    text-align: center;
}

.gdpr-cookie-law__link {
    display: inline-block;
    vertical-align: inherit;
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid transparent;
}

.gdpr-cookie-law__link:hover,
.gdpr-cookie-law__link:focus {
    text-decoration: none;
    color: inherit;
    border: 1px solid transparent;
}

.gdpr-cookie-law__btn-bar {
    margin-left: auto;
    text-align: right;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.gdpr-cookie-law--sm .gdpr-cookie-law__btn-bar,
.gdpr-cookie-law--sm-fix .gdpr-cookie-law__btn-bar {
    text-align: center;
}

.gdpr-cookie-law__btn {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fff;
    color: #666;
    border: 1px solid transparent;
    margin: 0;
    padding: 15px 56px 13px 56px;
    font-size: 14px;
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
    text-transform: uppercase;
}

.gdpr-cookie-law__btn:hover,
.gdpr-cookie-law__btn:focus {
    text-decoration: none;
}

.gdpr-cookie-law__btn:hover {
    cursor: pointer;
}

.gdpr-cookie-law__btn:focus {
    outline: 0;
}

.gdpr-cookie-law__btn--accept {
    background-color: #fff;
    color: #666;
}

/* Animations */

.gdpr-cookie-law--animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes gdpr-cookie-law-fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes gdpr-cookie-law-fade-in {
    0% { opacity: 0; }
     100% { opacity: 1; }
}

@-webkit-keyframes gdpr-cookie-law-fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes gdpr-cookie-law-fade-out {
    0% { opacity: 1; }
     100% { opacity: 0; }
}

@-webkit-keyframes gdpr-cookie-law-slide-in-up {
    from { -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); visibility: visible; }
    to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@keyframes gdpr-cookie-law-slide-in-up {
    from { -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); visibility: visible; }
    to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes gdpr-cookie-law-slide-in-down {
    from { -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); visibility: visible; }
    to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@keyframes gdpr-cookie-law-slide-in-down {
    from { -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); visibility: visible; }
    to { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes gdpr-cookie-law-slide-out-up {
    from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }    
    to { visibility: hidden; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
}

@keyframes gdpr-cookie-law-slide-out-up {
    from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }    
    to { visibility: hidden; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
}

@-webkit-keyframes gdpr-cookie-law-slide-out-down {
    from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
    to { visibility: hidden; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
}

@keyframes gdpr-cookie-law-slide-out-down {
    from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
    to { visibility: hidden; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
}

@-webkit-keyframes gdpr-cookie-law-fade-in-down {
    from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
    to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@keyframes gdpr-cookie-law-fade-in-down {
    from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
    to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes gdpr-cookie-law-fade-in-up {
    from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
    to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@keyframes gdpr-cookie-law-fade-in-up {
    from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
    to { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes gdpr-cookie-law-fade-out-down {
    from { opacity: 1; }
    to { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
}

@keyframes gdpr-cookie-law-fade-out-down {
    from { opacity: 1; }
    to { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
}

@-webkit-keyframes gdpr-cookie-law-fade-out-up {
    from { opacity: 1; }
    to { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
}

@keyframes gdpr-cookie-law-fade-out-up {
    from { opacity: 1; }
    to { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
}

.gdpr-cookie-law--animation-fade-in {
    -webkit-animation-name: gdpr-cookie-law-fade-in;
    animation-name: gdpr-cookie-law-fade-in;
}

.gdpr-cookie-law--animation-fade-out {
    -webkit-animation-name: gdpr-cookie-law-fade-out;
    animation-name: gdpr-cookie-law-fade-out;
}

.gdpr-cookie-law--animation-slide-in-up {
    -webkit-animation-name: gdpr-cookie-law-slide-in-up;
    animation-name: gdpr-cookie-law-slide-in-up;
}

.gdpr-cookie-law--animation-slide-in-down {
    -webkit-animation-name: gdpr-cookie-law-slide-in-down;
    animation-name: gdpr-cookie-law-slide-in-down;
}

.gdpr-cookie-law--animation-slide-out-up {
    -webkit-animation-name: gdpr-cookie-law-slide-out-up;
    animation-name: gdpr-cookie-law-slide-out-up;
}

.gdpr-cookie-law--animation-slide-out-down {
    -webkit-animation-name: gdpr-cookie-law-slide-out-down;
    animation-name: gdpr-cookie-law-slide-out-down;
}

.gdpr-cookie-law--animation-fade-in-up {
    -webkit-animation-name: gdpr-cookie-law-fade-in-up;
    animation-name: gdpr-cookie-law-fade-in-up;
}

.gdpr-cookie-law--animation-fade-in-down {
    -webkit-animation-name: gdpr-cookie-law-fade-in-down;
    animation-name: gdpr-cookie-law-fade-in-down;
}

.gdpr-cookie-law--animation-fade-out-up {
    -webkit-animation-name: gdpr-cookie-law-fade-out-up;
    animation-name: gdpr-cookie-law-fade-out-up;
}

.gdpr-cookie-law--animation-fade-out-down {
    -webkit-animation-name: gdpr-cookie-law-fade-out-down;
    animation-name: gdpr-cookie-law-fade-out-down;
}

